@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Tailwind layers */

@layer base {
  input {
    @apply bg-white border-gray-600 text-black px-3 py-1.5 rounded-md transition-all 
            border-2 focus:outline-none focus:shadow-[0px_0px_36px_-5px_#1447e6]
            focus:border-blue-700 hover:border-blue-700
  }
}